.registrationForm{
    
    width: 40%;
    margin: auto;
    color: aliceblue;
    border-left: 2px solid #1a2226;
    border-right: 2px solid #1a2226;
    border-bottom: 2px solid #1a2226;
    
}
